# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local data and volumes
data/
*.db

# Testing
tests/
.pytest_cache/

# Migrations (optional, depending on your strategy)
migrations/

# Environment files
.env
.env.local
.env.development
.env.production

# Backup files
*.bak
*.gho
*.ori
*.orig
*.tmp

# Build artifacts
*.egg-info/
dist/
build/

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
